body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td { margin: 0; padding: 0; border: 0;}
html { color: #000; }
html,body { height: 100%; }
body,button,input,select,textarea {font-size: 12px; font-family: 'Microsoft Yahei','微软雅黑', \5FAE\8F6F\96C5\9ED1,'宋体',\5b8b\4f53,arial,'Hiragino Sans GB',Tahoma,Arial,Helvetica; }
ul,ol,li,dl,dd,dt{list-style: none;}
em { font-style: normal; }
a { text-decoration: none; }
legend { color: #000; }
fieldset,img { border: 0; }
label,button { cursor: pointer; }
/*解决IE图片缩放失真*/
img { -ms-interpolation-mode: bicubic; }
/*清除浮动*/
.clearfix:after { content: ''; display: block; height: 0; clear: both; }
.clearfix { zoom: 1; }
.clear { clear: both; }
/*连续英文、数字换行*/
.wordwrap { word-break: break-all; word-wrap: break-word; }
/*单行文字超出显示省略号*/
.omg{overflow: hidden; text-overflow: ellipsis; white-space:nowrap;}
/*————————————分割线——————————————*/
body{background:ghostwhite;}
/*自定义字体*/
@font-face {
  font-family: 'z';
  src: url('font/iconfont.eot');
  src: url('font/iconfont.eot?#iefix') format('embedded-opentype'),
  url('font/iconfont.woff') format('woff'),
  url('font/iconfont.ttf') format('truetype'),
  url('font/iconfont.svg#iconfont') format('svg');
		}

/*最上边*/
.small-logo1{font-family: 'z';color:#c40000;font-size:1em;margin-right:5px;}
/*左上角*/
#body-top{width:100%;height:32px;border-bottom:1px solid #e5e5e5;background:#f2f2f2;}
#body-top .top-all{width:1230px;height:32px;margin:auto;position:relative;}
.left-top {position: absolute;top:0;left:0;}
.left-top span{margin:0 10px;line-height:32px;color:gray;}
.left-top span a{color:gray;}
.left-top span a:hover{color:red;}
.left-top span:first-child{marging:0;}
/*右上角*/
.right-top{width:740px;height:32px;
			position: absolute;top:0;right: 0;}
.right-top>li{float:left;height:36px;text-align: center;
				line-height:32px;width:70px;position:relative;}
.right-top>li:nth-child(2){width:100px;}
.right-top>li:nth-child(3){width:100px;}
.right-top>li:nth-child(3){width:100px;}
.right-top>li>.ul1{width:100px;height:50px;background:white;display: none;z-index: 10;position: absolute;}
.right-top>li:hover .ul1{display: block;}
.right-top>li>.ul1>li{width:100px;height:25px;float: left;}
.right-top li a{color:gray;}
.right-top>li:nth-child(1):hover{background: white;}
.right-top>li:nth-child(4):hover{background: white;}
.right-top>li:nth-child(8):hover{background: white;}
.right-top>li:nth-child(9):hover{background: white;}
.right-top>li:hover>a{color:red;text-decoration:underline;}
.right-top>li>.ul2{background:white;display: none;position: absolute;left:-50px;z-index: 9;}
.right-top>li:hover .ul2{display: block;}
.right-top>li>.ul3{background:white;display: none;position: absolute;left:-80px;
										width:150px;}
.right-top>li>.ul3>li{width:50%;float: right;}	
.right-top>li>.ul3>li>p{text-align:right;}				
.right-top>li:hover .ul3{display: block;}

.right-top>li>.ul4{background:white;display: none;
											position: absolute;right:0px;width:1200px;
											height:250px;float: left;z-index:10;}
.right-top>li>.ul4>li{float: right;}				
.right-top>li:hover .ul4{display: block;}
.right-top>li>.ul4>li:first-child{width:280px;height:200px;
																	border-right:1px black dashed;
																	padding:0 30px;margin:30px auto;
																	position: absolute;}
.ul5{width:100%;height: 100%;}
.ul5>li{float: left;width:70px;height:30px;}
.right-top>li>.ul4>li:nth-child(2){width:280px;height:200px;
																		border-right:1px black dashed;
																		padding:0 30px;margin:30px auto;
																		position: absolute;left: 340px;}
.right-top>li>.ul4>li:nth-child(3){width:280px;height:200px;
																			border-right:1px black dashed;
																			padding:0 30px;margin:30px auto;
																			position: absolute;left:680px;}
.right-top>li>.ul4>li:last-child{width:100px;height:200px;padding:0 20px;
																	margin:30px auto;position: absolute;
																	right:0px;text-align: center;}
/*header*/
header{width:1230px;height:130px;margin:30px auto 0;position: relative;}

header form{width:1030px;height:130px;position:absolute;top:0;right:0;z-index: 8;}
header form #search{width:491px;height:38px;border:2px solid red;
										position:absolute;top:38px;left:120px;outline: none;}
header form #submit{width:130px;height:38px;border:2px solid red;
									background: red;color:white;font-size: 18px;
									position:absolute;top:38px;right:290px;z-index:-1;}
header form>.ul5 {width:625px;height:15px;position:absolute;top:80px;left:110px;}
header form>.ul5>li{float:left;width:61.5px;line-height:15px;
					text-align: center;border-right:1px solid grey;height:15px;}
header form>.ul5>li:last-child{border: none;}
header form>.ul5>li>a{color:grey;}

/*导航*/
.nav{width:100%;position:relative;}
.nav>.ul6{height:100%;width:1230px;margin:auto;}
.nav>.ul6>li{float: left;width:7%;height:100%;text-align: center;position:relative;}
.small-logo7:nth-child(1){left: 0px;}
.small-logo7:nth-child(2){left: 0px;}
.small-logo7{font-family: 'z';
						color:red;font-size:5em;
						line-height: 36px;position: absolute;
						transform: translateY(0px);transition:all 1s;
						width:80px;height:36px;left:10px;
						z-index: -1;}

nav>.ul6>li:hover .small-logo7{transform: translateY(-25px);}
.nav>.ul6>li:first-child{width:200px;height:100%;
												position: relative;z-index: 1;}
.nav>.ul6>li:nth-child(2){width:100px;}
.nav>.ul6>li:nth-child(3){width:100px;}
.nav>.ul6>li>a{color: white;font-size: 1.3em;width:100%;height:100%;line-height: 36px;}
/*导航*/
.nav>.ul6>li>.ul7{height:500px;width:200px;background:#eaeded;position: absolute;}
.nav>.ul6>li>.ul7>li{height:30px;width:200px;line-height:30px;text-align: left;margin:0 5px;}
.nav>.ul6>li>.ul7>li>a{color:black;font-size:14px;}
.small-logo2{font-family: 'z';color:black;font-size:1em;margin:5px 10px;}
.small-logo3{font-family: 'z';
						color:white;font-size:1.5em;
						margin-left:10px;line-height: 36px;}
				
/*左侧导航*/
.ul7>li:hover .ul8{display: block;}
.ul8{width:850px;height:500px;
		position: absolute;top: 0;left:200px;display: none;background:white;}
.ul8>li{font-size:14px;padding:20px 0 0 30px;}
.ul8>li>div>a{font-size:14px;color:#969896;margin-right:5px ;
							display: inline-block;}
.li1{height:80px;}
.li1>div{width:475px;height:80px;
				border-bottom:1px gainsboro dashed;
				position: absolute;right:230px;top:20px;}
.li2{height:50px;}
.li2>div{width:475px;height:50px;
				border-bottom:1px gainsboro dashed;
				position: absolute;right:230px;top:120px;}	
.li3{height:50px;}
.li3>div{width:475px;height:70px;
				border-bottom:1px gainsboro dashed;
				position: absolute;right:230px;top:190px;}	
.li4{height:50px;}
.li4>div{width:475px;height:50px;
				border-bottom:1px gainsboro dashed;
				position: absolute;right:230px;top:260px;}
.li5{height:60px;}
.li5>div{width:475px;height:50px;
				border-bottom:1px gainsboro dashed;
				position: absolute;right:230px;top:330px;}
.ul8>div{width:200px;height:500px;
					position: absolute;right:0px;top:0;}
.ul9>li{float: left;width:100px;height:50px;margin:1px auto;}
/*banner图*/
#banner-out{width:100%;position:relative;}
#banner-in{width:1230px;height:500px;margin:auto;overflow:hidden;
			position:relative;left:50px;z-index: -1;}
#banner-right{position:absolute;top:10px;right:120px;}	
#banner-right img:nth-child(1){position:absolute;top:0px;right:120px;}		
#banner-right img:nth-child(2){position:absolute;top:250px;right:120px;}
.dl{width:100px;height:480px;background-image:url(../images/QQ图片20161230164534_01_03.png);
			position: relative;}		
.dl>ul{position: absolute;top:90px;left: 10px;}
.dl>ul>li{height:30px;width:80px;line-height: 30px;}
.dl>ul>li,a{color:white;text-align: center;font-size: 12px;}
.dl>ul>li:nth-child(2){background: red;border-radius:30px;}
.dl>ul>li:nth-child(3){border-bottom:1px dotted black;}
.dl>ul>li:nth-child(4){margin-top: 15px;}
.dl>ul>li:nth-child(6){margin-bottom: 15px;}
.dl>ul>li:nth-child(8){font-size: 16px;width: 100px;position: absolute;left: -10px;background: rgba(255,255,255,0.2);}
/*侧边栏*/
.right-tab{height:880px;width:35px;background: black;position: fixed;top:0;right: 0;z-index: 10;}										
.right-tab>ul{width:25px;height:600px;margin-top:220px;}
.right-tab>ul>li{margin:10px 0;}
.right-tab>ul>li:first-child{height:35px;width:35px;background:url(../images/tp1.png) center center;}

.t1{width:90px;height:35px;position: relative;background:black;line-height: 35px;
										 padding-left:30px;
										 transform: translateX(-150px);opacity: 0;transition: all 1s;}

.right-tab>ul>li:hover>.t1{transform: translateX(-120px);opacity:1;z-index:1;position: absolute;}
.sj{border:10px rgba(0,0,0,0) solid;border-left:10px gainsboro solid;border-right:0;
		position: absolute;top:8px;right:-10px;z-index: 99;}
.small-logo4{font-family: 'z';color:red;font-size:2em;}
.right-tab>ul>li:nth-child(2){height:100px;width:22px;border-top:1px white dashed;
															border-bottom:1px white dashed;
															text-align: center;
															padding:20px 7px 0;}
.right-tab>ul>li:nth-child(2):hover .small-logo4{color:white;}
.right-tab>ul>li:nth-child(2):hover{background:rgba(255,0,0,0.5);}
.right-tab>ul>li:nth-child(3){height:35px;width:35px;background:url(../images/tp2.png) center center;}
.right-tab>ul>li:nth-child(4){height:35px;width:35px;background:url(../images/tp3.png) center center;}
.right-tab>ul>li:nth-child(5){height:35px;width:35px;background:url(../images/tp4.png) center center;}
.right-tab>ul>li:nth-child(6){height:35px;width:35px;background:url(../images/tp5.png) center center;}
.right-tab>ul>li:nth-child(7){height:35px;width:35px;background:url(../images/tp6.png) center center;}
.right-tab>ul>li:nth-child(8){height:35px;width:35px;background:url(../images/tp7.png) center center;}
.right-tab>ul>li:nth-child(8){height:35px;width:35px;background:url(../images/tp8.png) center center;}
/*主要区域*/
.main{width:1230px;margin:10px auto;}
.small-logo5	{font-family: 'z';
						color:red;font-size:1.5em;
						margin-left:10px;line-height: 36px;}
.main-top>p{color:red;font-size:16px;text-align: center;}
.pic1>img{margin:5px 2px;}
.pic2{width:1230px;height:440px;position: relative;}
.lb2{height:100%;width:490px;position: relative;}
.area{width:490px;height:275px;}
.area>img{width:490px;height:275px;}
.lb2>ul{background: black;width:490px;height:160px;position:absolute;top:275px;left:0;}
.lb2>ul>li{margin:10px 0;width:160px;height:90px;float: left;}
.lb2>ul>li:nth-child(2){margin:10px 5px;}
.lb2>ul>li img{width:160px;height:90px;}
.pic3{width:720px;height:420px;position: absolute;top:0;right:0;}
.pic3 li{float: left;width:103px;height:105px;background: white;margin:2px;line-height: 105px;position: relative;}
.pic3 li img{width:100%;margin-top:25px;}
.zz{width:100%;height:100%;background:black;position:absolute;top:0;left:0;
		display: none;color:white;text-align: center;font-size:13px;}
.zz>.dj{width:70px;position: absolute;top:65px;left:20px;background: red;height:20px;line-height: 20px;
					border-radius: 15px;}
	.zz>.dj a{color:white;text-align: center;font-size:13px;}				
.pic3 li:hover .zz{display: block;opacity: 0.7;}
.small-logo8	{font-family: 'z';
						font-size:1em;position: absolute;top:0px;right:5px;
						margin-left:10px;line-height: 36px;}
.main-body{height:500px;width:1230px;}
.main-body>div{width:240px;height:480px;
								float: left;margin:10px 3.5px;}
.main-body>div:first-child{margin-left:0px;}
.main-body>div:last-child{margin-right:0px;}
.small-logo6	{font-family: 'z';
						color:white;font-size:1em;
						margin:5px;}
.main-body>div>p{color:white;background: red;text-align: center;
									font-size: 18px;font-weight:bold;}
.nb{height:210px;width:200px;text-align: center;margin:0 auto;
		border-bottom: 1px solid silver;background: white;}
.nb p{color: gray;}
.nb p:first-child{margin-top:20px;}
.nb img{margin-top:20px;}
.nb img:hover{transform: scale(1.15);transition:all 2s;}
.main>div{margin:10px auto;}

.main-footer{width: 1230px;position: relative;margin:10px auto;}
.main-footer>div{width:1230px;height:480px;margin:10px 0;position:relative;}
.main-footer>div>p{color: black;width:20%;font-size:18px;border-left:5px red solid;padding-left:10px;border-bottom: 5px;}
.main-footer>div>ul{height:30px;width:600px;line-height: 30px;position:absolute;right: 0;top:-10px;}
.main-footer>div>ul li{float: left;width:10%;text-align: center;}
.main-footer>div>ul li a{color:black;}
.main-footer>.div1>div{width:100%;height:440px;margin:10px auto;background: white;}
.left{width:246px;height:440px;}
.left>.p1{height:30px;width:246px;background:rgba(255,255,255,0.4);
					text-align: center;font-size: 16px;}
.left>.p2{text-align: center;height:80px;width:100%;background:pink;color: white;padding-top: 30px;}
.sp1{font-size:18px;font-weight:bold;}
.right{height:440px;width:970px;position: absolute;top:25px;right:0;}
.right>.ul1{width:735px;height:440px;}
.right>.ul1>li{width:33.3%;height:49.8%;float: left;margin: auto auto;position: relative;line-height: 10px;}
.right>.ul1>li>p{color:black;height:20px;}	
.right>.ul1>li img{position: absolute;top:10px;right:0;top:50px;}
.right>.ul1>li img:hover{transform: translateX(-20px);transition: all 2s;}
.last{position: absolute;right:0;top:25px;width:230px;height:400px;}
.last ul{width:230px;height:400px;}
.last li{height:33.3%;width:100%;position: relative;line-height: 10px;}
.last>ul>li img{position: absolute;top:10px;right:0;top:50px;}
.last>ul>li img:hover{transform: translateX(-20px);transition: all 2s;}
div.last-pic{margin: 10px auto;height:90px;}
/*主要区域*/
.main-area{width:1230px;margin:10px auto;}
.main-area ul{width:100%;height:320px;position: relative;padding: 1px;}
.main-area>ul>li{width:238px;height:315px;float: left;margin:1px;background: white;border: 1px solid white;}
.main-area ul li img{margin: 1px;}
.main-area ul li p{position:absolute;top:230px;width:195px;height:50px;padding:20px;text-align: left;color: gray;}
.main-area ul li:hover{border: 1px red solid;background: white;opacity: 0.6;}
.main-area ul li p span{color:red;font-size: 16px;}
/*底部*/
footer{height:560px;width:100%;border-top:1px solid grey;}
.footer1{width:100%;height:363px;}

.footer1>.ul1{padding:50px ;border-bottom:1px solid gainsboro;width:1230px;height:50px;
				line-height: 50px;text-align: center;margin: auto;}
.footer1>.ul1>li{float:left;border-right:2px solid gainsboro;height:50px;line-height: 50px;}
.footer1>.ul1>li:last-child{border:none;}
.footer1>.ul2{height:210px;width:1230px;padding:30px 50px 0 50px;text-align: center;position: relative;}
.footer1>.ul2 li p{height:20px;line-height: 20px;}
.footer1>.ul2>li{float: left;width:240px;color:gray;font-size:18px;margin:0 auto;}
.jk{color:palevioletred;}
.footer1>.ul2>li>.ul3>li>a{color:darkgrey;}
.footer1>.ul2 img{position: absolute;position: absolute;top:80px;right:150px;}
.footer2{width:100%;height:196px;border-top:1px solid red;background:black;position: relative;}
.footer2>div{width:1230px;margin:auto;position: relative;height:100px;margin-top: 10px;}
.footer2>div>.ul1>li{float: left;margin:5px 5px 5px 5px;}
.footer2>div>.ul2{position:absolute;top:40px;margin: auto;}
.footer2>div>.ul2>li{float: left;border-right:1px solid white;padding:0 5px;}
.footer2>div>.ul2>li:last-child{border: none;}
.footer2>div>p{color:white;position: absolute;top:70px;left: 5px;}
.footer2>div>img{position: absolute;top:100px;left: 0px;}